/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--main-color);
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size);
  background-color: var(--main-background);
  background-image: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--weight-text-card);
}

.content-center {
  margin: 0 auto;
  max-inline-size: var(--max-weight-content);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-block-start: 101px;
  border:  2px solid var(--main-color);
  font-family: var(--accent-font, fantasy);
  text-transform: uppercase;
  background-color: var(--main-background);
  inline-size: 100%;
  block-size: 366px;
}

.header__title {
  margin-block-end: 20px;
  font-size: var(--font-size-title);
}

.header__subtitle {
  margin-block-end: 22px;
  font-size: var(--font-size-subtitle);
}

.header__theme-menu {
  margin-inline-start: 20px;
  margin-block-end: 24px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.theme-menu__item {
  position: relative;
}

.theme-menu__button {
  border: transparent;
  padding: 0;
  font-size: var(--font-size-theme);
  text-transform: uppercase;
  background-color: transparent;
  
}

.theme-menu__button:disabled {
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
  transition: opacity 0.3s;
  transition-timing-function: ease;
}

.theme-menu__button::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-block-end: 2px solid var(--main-color);
  opacity: 0.6;
  transition: scaleX 0.3s, transform 0.3s;
  transition-timing-function: ease;
  transform: scaleX(0);
  transform-origin: left center;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}


.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  left: -21px;
  animation: choice 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:hover::before {
  content: '▶';
  position: absolute;
  left: -21px;
  animation: choice 0.5s ease-in-out infinite alternate;
}

.theme-menu__button:focus::before {
  content: '▶';
  position: absolute;
  left: -21px;
  animation: choice 0.5s ease-in-out infinite alternate;
}

.main {
  margin-block-start: 101px;
  margin-block-end: 105px;
}

.card {
  margin-block-end: 48px;
  border: 2px solid var(--main-color);
  background-color: var(--main-background);
  inline-size: 100%;
}

.card__header {
  border: 2px solid var(--main-color);
  padding: 3px 24px 3px 10px;
  font-size: var(--main-font-size);
  font-variation-settings: 'wght' var(--weight-text-card-title);
}

.card__image {
  position: relative;
}

.card__image-blure-first {
  filter: sepia(80%);
}

.card__image-blure-second {
  filter: saturate(258%);
}

.card__image-blure-third {
  filter: hue-rotate(-318deg);
}

.card__image-blure-fourth {
  filter: invert(0.7);
}

.card__image-blure-fifth {
  filter: grayscale(0.8);
}

.card__image-blure-sixth {
  filter: blur(2.2rem);
}

.card__image-blure-seventh {
  filter: invert(0.4) contrast(310%) grayscale(0.2);
}

.card__image-track {
  inline-size: 100%;
}

.card__imag-text {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-theme);
  text-shadow: -1px 0 var(--main-background), 0 1px var(--main-background), 1px 0 var(--main-background), 0 -1px var(--main-background);
}

@supports( (text-stroke: 1px var(--main-background)) or (-webkit-text-stroke: 1px var(--main-background))) {
    .card__imag-text {
        text-shadow: none;
        text-stroke: 1px var(--main-background);
        -webkit-text-stroke: 1px var(--main-background);
    }
} 

.content {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.card__text {
  margin-block-end: 25px;
  line-height: var(--main-line-hight);
}

.card__text:last-of-type {
  margin-block-end: 27px;
}

.card__buttons {
  align-self: end;
  
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.card__icon-button {
  padding: 0;
  /* margin-block-start: 3px;
  margin-inline-end: 1px; */
  vertical-align: middle;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--main-color);
  /* outline-offset: -2px; */
}

.card__like-button {
  position: relative;
  border: 2px solid var(--main-color);
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-theme);
  line-height: 90%;
  inline-size: 130px;
  block-size: 38px;
  /* transition: box-shadow 0,3s, transform 0,3s; */
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.card__like-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: scaleX 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--color-text-button);
  mix-blend-mode: difference;
}

.save {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  border: 2px solid var(--main-color);
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-theme);
  line-height: 90%;
  background-color: var(--main-background);
  inline-size: 335px;
  block-size: 51px;
}

.save:focus {
  outline: none;
}

.save:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

.save::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: scaleX 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.save:hover::before {
  transform: scaleX(1);
}

.floppy-weight {
  inline-size: 21px;
  block-size: 21px;
}

.floppy-theme {
  position: relative;
  z-index: 1;
  fill: var(--color-text-button);
  mix-blend-mode: difference;
}

.sparks {
  opacity: 0;
}


.like-icon:hover .main-body {
  fill: var(--main-color);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--main-color);
  transition: fill 0.3s;
}

.like-icon:not(:hover) .main-body {
  transition: fill 0.3s;
}

.like-icon:not(:hover) .core {
  fill: transparent;
  transition: fill 0.3s;
  transition-delay: 0.03s;
}


.like-icon:active .main-body {
  fill: var(--color-core);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--color-core);
  transition: fill 0.3s;
}

.like-icon:not(:active) .main-body {
  transition: fill 0.3s;
}

.like-icon:not(:active) .core {
  transition: fill 0.3s;
  transition-delay: 0.03s;
}


.like-icon.is-liked .core {
  fill: var(--color-core);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--color-core);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--color-core);
  transition: fill 0.3s;
  transition-delay: 0.06s;
}

.like-icon.is-liked > .heart {
  transform-origin: center;
  animation-name: scaleHeart;
  animation-delay: 0.1s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;

}

.like-icon.is-liked > .sparks {
  animation-name: sparks;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.dialog {
  display: none;
  border: 2px solid var(--main-color);
  overflow: hidden;
  background-color: var(--main-background);
  inline-size: 357px;
  block-size: 193px;
  font-variation-settings: 'wght' var(--weight-text-card);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
}

.dialog__header {
  color: var(--main-color);
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-theme);
  line-height: 150%;
  text-transform: uppercase;
  inline-size: 234px;
}

.dialog__floppy-weight {
  inline-size: 39px;
  block-size: 39px;
}

.dialog__box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__button {
  position: relative;
  border: 2px solid var(--main-color);
  font-family: var(--accent-font, fantasy);
  font-size: var(--font-size-theme);
  inline-size: 293px;
  block-size: 38px;
}

.dialog__button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  transition: scaleX 0.5s, transform 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
}

.dialog__button:hover::before {
  transform: scaleX(1);
}

.dialog__button:focus {
  outline: none;
}

.dialog__button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--main-color);
}

dialog::backdrop {
  opacity: 0.75;
  background-color: #000;
  backdrop-filter: blur(6px);
} 


@media (width < 376px) {
  .header {
    block-size: 326px;
  }

  .header__theme-menu {
    margin-block-end: 26px;
  }

  .content {
    padding: 25px 28px 25px 25px;
  }
  
  .card__icon-button {
    margin-block-start: 0;
    margin-block-end: 0;
  }

  .card__imag-text {
    top: 24px;
    right: 11px; 
  }

  .save {
    flex-direction: column;
    inline-size: 306px;
    block-size: 80px;
  }

  .floppy-weight {
    inline-size: 28px;
    block-size: 28px;
  }

  .dialog {
    box-sizing: content-box;
    inline-size: 275px;
    block-size: 131px;
  }

  .dialog__header {
    inline-size: 197px;
  }

  .dialog__button {
    inline-size: 257px;
  }
}